amqp
anyio
asgiref
astroid
attrs
babel
billiard
bleach
boto3
botocore
build
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
dill
Django
django-allauth
django-anymail
django-axes
django-cleanup
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-extensions
django-filter
django-health-check
django-js-asset
django-lifecycle
django-model-utils
django-money
django-mptt
django-parler
django-phonenumber-field
django-ratelimit
django-redis
django-rosetta
django-simple-history
django-storages
django-unfold
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
dnspython
drf-spectacular
h11
httpcore
httpx
idna
inflection
iniconfig
ipaddress
isort
jmespath
jsonschema
jsonschema-specifications
kombu
Markdown
markdown-it-py
mccabe
mdurl
model-bakery
packaging
persian-tools
phonenumbers
pillow
pip-tools
platformdirs
pluggy
polib
prompt_toolkit
py-moneyed
pycparser
Pygments
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyproject_hooks
pytest
pytest-django
python-dateutil
python-dotenv
python-slugify
PyYAML
redis
referencing
requests
rpds-py
s3transfer
sentry-sdk
setuptools
six
sqlparse
text-unidecode
tomlkit
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
wcwidth
webencodings
wheel
whitenoise
psycopg
gunicorn
uvicorn
django-celery-beat
django-celery-results